@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  /* COLORS / COLORES */
  --colores-degradados-color-gris: #7e7d7f;
  --colores-degradados-color-violeta: #5f2051;
  --colores-degradados-color-violeta2: #240e47;
  --colores-planos-color-pink: #d6a0b4;
  --colores-planos-color-purple: #5d2569;
  --colores-planos-color-red: #b14e6f;
  --colores-planos-color-sea-splash: #8be9bb;
  --colores-planos-color-white: #f7eff7;
  --colores-planos-color-black: #141414;

  /* TYPOGRAPHY / TIPOGRAFIA */

  /* SIZES / TAMANOS */

  --size-size-1: 0.25rem;
  --size-size-2: 0.5rem;
  --size-size-3: 0.75rem;
  --size-size-4: 1rem;
  --size-size-5: 1.25rem;
  --size-size-6: 1.5rem;
  --size-size-7: 1.75rem;
  --size-size-8: 2rem;
  --size-size-9: 2.25rem;
  --size-size-10: 2.5rem;
  --size-size-11: 2.75rem;
  --size-size-12: 3rem;
  --size-size-13: 3.25rem;
  --size-size-14: 3.5rem;
  --size-size-15: 3.75rem;
  --size-size-16: 4rem;
  /* SHADOW / SOMBRA */
}

.btn {
  padding: 1.25rem 2.5rem;
  border-radius: 0.5rem;
}

body {
  height: 100vh;
  background: linear-gradient(
    106deg,
    #7e7d7f 5.76%,
    #5f2051 49.43%,
    #240e47 94.89%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans 3", sans-serif;
}
a {
  font-family: "Source Sans 3", sans-serif;
  color: var(--colores-planos-color-black);
}

.container {
  width: 1726px;
  height: 971px;
  border-radius: 30px;
  background: linear-gradient(
    102deg,
    #f7eff7 35.55%,
    #d6a0b4 67.08%,
    #918c91 98.61%
  );

  padding: 30px 200px 100px 200px;
  display: grid;
  column-gap: 130px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  & .izquierda {
    display: grid;
    grid-template-columns: [boton1]auto [boton2]auto [sobrante]1fr;
    grid-template-rows: [nav]1fr [titular]auto [parrafo]auto [botones]auto [zonavacia]3.125rem;
    column-gap: 1.875rem;
    row-gap: 3.125rem;
    align-items: flex-start;

    /* MENU */
    & .izquierda__menu {
      grid-column: boton1 / sobrante;
      grid-row: 1 / 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.25rem;
    }
    & .izquierda__titulo {
      grid-column: 1 / -1;
      grid-row: titular / parrafo;
      /* color: #000; */

      font-family: "Space Grotesk", sans-serif;
      font-size: var(--size-size-15, 60px);
      /* font-style: normal; */
      font-weight: 500;
      line-height: normal;

      & .izquierda__rojo {
        color: var(--colores-planos-color-red, #b14e6f);
      }
    }
    & .izquierda__parrafo {
      grid-column: 1/-1;
      grid-row: parrafo/botones;
    }
    & .izquierda__logo {
    }

    /* BOTONES */
    & .izquierda__btndemo {
      grid-column: boton1;
      /* botones / botones */
      grid-row: botones;
      justify-self: center;
      align-self: center;

      background: var(--colores-planos-color-black);
      color: var(--colores-planos-color-white);
    }

    & .izquierda__btncall {
      grid-column: boton2;
      grid-row: botones;

      justify-self: center;
      align-self: center;

      background: var(--colores-planos-color-sea-splash, #8be9bb);
      color: var(--colores-planos-color-black);
    }
  }

  & .derecha {
    display: grid;
    grid-template-columns: [todo]1fr;
    grid-template-rows: [botones]auto [formulario]1fr;
    row-gap: 50px;

    & .derecha__botones {
      display: flex;
      justify-content: end;
      gap: 20px;
      align-items: center;

      & .derecha__btndemo {
        background: var(--colores-planos-color-black);
        color: var(--colores-planos-color-white);
      }

      & .derecha__btncall {
        background: var(--colores-planos-color-sea-splash, #8be9bb);
        color: var(--colores-planos-color-black);
      }
      & .btn__telefono {
        background: url(/svg/Vector_telefono.svg);
        width: 20px;
        height: 20px;
      }
    }
    & .derecha__formulario {
      grid-column: todo;
      grid-row: formulario;
      border-radius: 30px;
      background: var(--colores-planos-color-white, #f7eff7);

      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: repeat(8, auto);
      gap: 20px;
      padding: 0 30px;
      overflow: hidden;
      justify-content: center;

      & .form__title {
        grid-column: 1 / span 2;
        grid-row: 1;
        justify-self: center;
        align-self: center;
        font-size: 20px;
      }
      & .wrapper {
        position: relative;
        /* padding: 10px 20px; */
        width: 100%;
        display: flex;
        align-items: center;
      }
      & .icon {
        position: absolute;
        
        height: 1.5rem;
        width: 1.5rem;
        left: 10px;
        top: auto;
        pointer-events: none;
      }
      & .input__name {
        grid-column: 1 / span 1;
        grid-row: 2 / 3;
      }
      & .input__surname {
        grid-column: 2 / span 1;
        grid-row: 2 / 3;
      }
      & .icon-email {
        background: url(/svg/vector_correo.svg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .icon-phone {
        background: url(/svg/vector_telefono.svg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .icon-phone {
        background: url(/svg/vector_telefono.svg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .icon-company {
        background: url(/svg/vector_casa.svg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .icon-job {
        background: url(/svg/vector_cartera.svg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      & input[type="email"],
      input[type="tel"],
      input[name="empresa"],
      input[name="cargo"] {
        padding-left: 3rem;
      }
      & input,select,textarea, button {
        height: 100%;
        width: 100%;
        font-size: 1.5rem;
        border-radius: 10px;
        padding-left: 10px;
        border: solid 2px gray;
      }
      & select{
        grid-column: 1 /span 2 ;
        grid-row: 5 / span 1;
      }
      & textarea{
        width: 100%;
        grid-column: 1 / span 2 ;
        grid-row: 6 / span 1;
      }
      & button{
        grid-column: 1 / -1 ;
        grid-row: 7 / span 1;
        padding: 0;
        background-color: var(--colores-planos-color-sea-splash);
      }
    }
  }
}

/* ************************ */
/* FORM */
/* ************************ */

/* ************************ */
/* HEADER */
/* ************************ */

/* ************************ */
/* MAIN */
/* ************************ */

/* ************************ */
/* FOOTER */
/* ************************ */
